{{/*
Copyright 2025 DoorDash, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}

{{- template "header" $ }}

{{- $root := . }}
{{range $Enum := .Enums}}
  {{- $alias := $Enum.Name | fst | lower }}
  {{- if and $Enum.Schema.Description (not $root.Config.Generate.OmitDescription)}}{{ toGoComment $Enum.Schema.Description $Enum.Name }}{{- end}}
    type {{$Enum.Name}} {{$Enum.Schema.GoType}}
    const (
      {{- $safeNames := slice }}
      {{- range $name, $value := $Enum.GetValues}}
      {{- $safeName := $root.TypeRegistry.GetName $name}}
      {{- $safeNames = append $safeNames $safeName }}
        {{$safeName}} {{$Enum.Name}} = {{$Enum.ValueWrapper}}{{escapeGoString $value}}{{$Enum.ValueWrapper}}
      {{- end}}
    )

    // valid{{$Enum.Name}}Values is a map of valid values for {{$Enum.Name}}
    var valid{{$Enum.Name}}Values = map[{{$Enum.Name}}]bool{
      {{- range $safeName := $safeNames}}
        {{$safeName}}: true,
      {{- end}}
    }

    // Validate checks if the {{$Enum.Name}} value is valid
    func ({{$alias}} {{$Enum.Name}}) Validate() error {
        if !valid{{$Enum.Name}}Values[{{$alias}}] {
            return runtime.ValidationErrors{}.Add("Enum", fmt.Sprintf("must be a valid {{$Enum.Name}} value, got: %v", {{$alias}}))
        }
        return nil
    }
{{end}}
