{{/*
Copyright 2025 DoorDash, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}

{{- template "header" $ }}

{{ define "unionAdditionalProperties" }}
{{ $args := . }}
{{ $addType := $args.Schema.AdditionalPropertiesType.TypeDecl }}
{{ $typeName := $args.Name -}}
{{ $discriminator := $args.Schema.Discriminator }}
{{ $properties := $args.Schema.Properties -}}
{{ $eitherType := eq (len .Schema.UnionElements) 2}}
{{ $typeSchemaMap := $args.typeSchemaMap }}

// Override default JSON handling for {{$args.Name}} to handle AdditionalProperties and union
func ({{$args.alias}} *{{$args.Name}}) UnmarshalJSON(data []byte) error {
    {{- if $eitherType }}
    if err := {{$args.alias}}.Unmarshal(data); err != nil {
    {{ else }}
    if err := {{$args.alias}}.union.UnmarshalJSON(data); err != nil {
    {{ end -}}
        return err
    }
    object := make(map[string]json.RawMessage)
	if err := json.Unmarshal(data, &object); err != nil {
		return err
	}
    {{ template "unmarshalEmbeddedFields" (dict "alias" $args.alias "properties" $args.Schema.Properties "typeSchemaMap" $typeSchemaMap) }}
    {{ template "unmarshalNamedFields" (dict "alias" $args.alias "properties" $args.Schema.Properties) }}
    {{ template "deleteUnionVariantFields" (dict "unionElements" $args.Schema.UnionElements "typeSchemaMap" $typeSchemaMap) }}
    if len(object) != 0 {
        {{$args.alias}}.AdditionalProperties = make(map[string]{{$addType}})
        for fieldName, fieldBuf := range object {
            var fieldVal {{$addType}}
            if err := json.Unmarshal(fieldBuf, &fieldVal); err != nil {
                return fmt.Errorf("error unmarshaling field %s: %w", fieldName, err)
            }
            {{$args.alias}}.AdditionalProperties[fieldName] = fieldVal
        }
    }
	return nil
}

// Override default JSON handling for {{$args.Name}} to handle AdditionalProperties and union
func ({{$args.alias}} {{$args.Name}}) MarshalJSON() ([]byte, error) {
    var err error
    {{- if $eitherType }}
    union := {{$args.alias}}.Value()
    if union == nil {
        return []byte("null"), nil
    }
    b, err := json.Marshal(union)
    {{ else }}
    union := {{$args.alias}}.union
    if union == nil {
        return []byte("null"), nil
    }
    b, err := union.MarshalJSON()
    {{ end }}
    if err != nil {
        return nil, err
    }
    object := make(map[string]json.RawMessage)
    if err = json.Unmarshal(b, &object); err != nil {
        return nil, err
    }
    {{ template "marshalEmbeddedFields" (dict "alias" $args.alias "properties" $args.Schema.Properties) }}
    {{ template "marshalNamedFields" (dict "alias" $args.alias "properties" $args.Schema.Properties) }}
    for fieldName, field := range {{$args.alias}}.AdditionalProperties {
        object[fieldName], err = json.Marshal(field)
        if err != nil {
            return nil, fmt.Errorf("error marshaling '%s': %w", fieldName, err)
        }
    }
	return json.Marshal(object)
}
{{end}}
